# Consulta de datos de un Excel

Tenemos un archivo Excel con la capitalización de datos de las empresas más importantes del IBEX e intentaremos hacer gráficos.

Partimos de esta hoja de cálculo de Excel:
![Captura Excel](captura.jpg)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rmorales\appdata\local\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rmorales\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rmorales\appdata\local\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rmorales\appdata\local\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rmorales\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rmorales\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

In [6]:
xls_path = "empresas-bolsa.xls"

In [8]:
# Le pongo el header=none para que no considere la primera fila (inditex) como encabezado, y entonces pone índices
df = pd.read_excel(xls_path,header=None)
df

,0,1,2,3,4,5
0,"INDUSTRIA DE DISEÑO TEXTIL, SA ""INDITEX""",154710.6,2130.26,25951.8,ES0148396007,IBEX 35
1,"IBERDROLA, S.A.",84644.53,3121.43,34858.07,ES0144580Y14,IBEX 35
2,"BANCO SANTANDER, S.A.",67648.3,2370.84,33409.8,ES0113900J37,IBEX 35
3,"BANCO BILBAO VIZCAYA ARGENTARIA, S.A.",54474.57,1485.38,28861.66,ES0113211835,IBEX 35
4,"CAIXABANK, S.A.",37567.97,900.96,14695.97,ES0140609019,IBEX 35
...,...,...,...,...,...,...
127,BERKELEY ENERGIA LIMITED,87.28,2.27,88.63,AU000000BKY0,IBEX SMALL CAP
128,En el ranking no están incluidas las sociedade...,NaN,NaN,NaN,NaN,NaN
129,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN,

### Vamos a tener en cuenta las dos primeras columnas (empresa y capitalización), las demás las borramos

In [11]:
df.drop(df.columns[2:], axis=1, inplace=True)
df

                                                     0         1
0             INDUSTRIA DE DISEÑO TEXTIL, SA "INDITEX"  154710.6
1             IBERDROLA, S.A.                           84644.53
2             BANCO SANTANDER, S.A.                      67648.3
3             BANCO BILBAO VIZCAYA ARGENTARIA, S.A.     54474.57
4             CAIXABANK, S.A.                           37567.97
..                                                 ...       ...
127           BERKELEY ENERGIA LIMITED                     87.28
128  En el ranking no están incluidas las sociedade...       NaN
129                                                NaN       NaN
130                                                NaN       NaN
131                                                NaN       NaN

[132 rows x 2 columns]

### Vamos a poner nombres de columnas adecuado, dejando solo 'Empresa' y 'Capitalización'

In [14]:
df.columns = ['Empresa','Capitalización']
df

                                               Empresa Capitalización
0             INDUSTRIA DE DISEÑO TEXTIL, SA "INDITEX"       154710.6
1             IBERDROLA, S.A.                                84644.53
2             BANCO SANTANDER, S.A.                           67648.3
3             BANCO BILBAO VIZCAYA ARGENTARIA, S.A.          54474.57
4             CAIXABANK, S.A.                                37567.97
..                                                 ...            ...
127           BERKELEY ENERGIA LIMITED                          87.28
128  En el ranking no están incluidas las sociedade...            NaN
129                                                NaN            NaN
130                                                NaN            NaN
131                                                NaN            NaN

[132 rows x 2 columns]

### Nos quedamos con las 50 primeras empresas, las demás las borramos

In [17]:
df.drop(df.index[50:],axis=0,inplace=True)
df

                                     Empresa Capitalización
0   INDUSTRIA DE DISEÑO TEXTIL, SA "INDITEX"       154710.6
1   IBERDROLA, S.A.                                84644.53
2   BANCO SANTANDER, S.A.                           67648.3
3   BANCO BILBAO VIZCAYA ARGENTARIA, S.A.          54474.57
4   CAIXABANK, S.A.                                37567.97
5   AMADEUS IT GROUP, S.A.                         30724.04
6   FERROVIAL S.E.                                 30026.35
7   AENA, S.M.E., S.A.                                29610
8   NATURGY ENERGY GROUP, S.A.                     22669.57
9   TELEFONICA, S.A.                               22323.42
10  ENDESA, SOCIEDAD ANONIMA                       21990.28
11  CELLNEX TELECOM, S.A.                          21554.56
12  INTERNATIONAL CONSOLIDAT. AIRLINES GROUP       18041.48
13  REPSOL, S.A.                                   13763.75
14  ACS,ACTIVIDADES DE CONST.Y SERVICIOS S.A       13159.43
15  BANCO DE SABADELL, S.A.                        10211.29
16  REDEIA CORPORACION, S.A.                        8927.82
17  MAPFRE, S.A.                                    7532.58
18  BANKINTER,S.A.                                  6867.33
19  ACCIONA,S.A.                                    5962.91
20  CORP.  ACCIONA ENERGÍAS RENOVABLES, S.A.        5780.76
21  MERLIN PROPERTIES, SOCIMI, S.A.                 5727.44
22  CORPORACION FINANCIERA ALBA, S.A.               5023.42
23  FLUIDRA, S.A.                                   4518.87
24  GRUPO CATALANA OCCIDENTE, S.A.                     4308
25  FOMENTO DE CONSTR. Y CONTRATAS S.A.             4043.86
26  GRIFOLS, S.A.                                   3898.23
27  CIA. DE DIST. INTEG. LOGISTA HOLDINGS            3876.3
28  UNICAJA BANCO, S.A.                                3276
29  INMOBILIARIA COLONIAL SOCIMI, S.A.               3246.5
30  LABORATORIOS FARMACEUTICOS ROVI, S.A.           3225.29
31  PUIG BRANDS, S.A. CLASE B                        3117.9
32  VIDRALA S.A.                                    3114.91
33  ENAGAS, S.A.                                    3086.24
34  CIE AUTOMOTIVE, S.A.                            3043.11
35  INDRA SISTEMAS, S.A., SERIE A                   3017.25
36  VISCOFAN, S.A.                                   2836.5
37  MINOR HOTELS EUROPE & AMERICAS, S.A.            2745.19
38  SACYR, S.A.                                     2481.66
39  EBRO FOODS, S.A.                                2443.38
40  ACERINOX, S.A.                                  2356.21
41  ALMIRALL, S.A.                                  1757.91
42  MELIA HOTELS INTERNATIONAL, S.A.                1623.24
43  PHARMA MAR, S.A.                                1454.13
44  GESTAMP AUTOMOCION, S.A.                        1427.27
45  ELECNOR S. A.                                   1397.22
46  INMOCEMENTO, S.A.                               1380.55
47  METROVACESA, S.A.                               1331.71
48  NEINOR HOMES, S.A.                              1266.97
49  CONSTRUCC. Y AUX. DE FERROCARRILES, S.A.        1198.11